.title {

  display: flex;
  align-items: flex-start;
  text-align: start;

}

.logo {
  background-image: url("../../images/wall.gif");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.burgers {
  display: flex;
  justify-content: flex-end;
  //margin: 20px 20px 0;
}

.sitePixels {
  transform: scale(1);
  background-image: url("../../images/stelar.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 253px;
  position: absolute;
  left: -160px;
  box-shadow: 0 0 81px 0 rgba(0, 0, 0, 0.9) inset;
  z-index: 3;
  border-radius: 20px;
  transition: transform .1s linear;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}


.burgerGif {
  background-image: url("../../images/burger.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
}

.backgroundBox {
  max-width: 900px;
  width: 100%;
  height: 400px;
  background-image: url("../../images/background-box.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 81px 0 rgba(0, 0, 0, 0.6) inset;
  position: relative;
  z-index: 2;
}

.link {
  text-decoration: none;

}

.textBox {
  max-width: 500px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: 45px;
}

.textStyle {
  color: white;
}

.titleBox {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.subtitle {
  font-weight: 400;
}

.text {
  font-weight: 400;
}

.stack {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.textUl {
  composes: text;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.bottomBoxProjects {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 50px 25px 0;
}

